body {
  margin: 0px 0px 50px 0px;
  overflow-x: hidden;
}

nav {
  margin-bottom: 50px;
}

#content {
  display: block;
  position: absolute;
  top: 48%;
  left: 48%;
  z-index: 500;
}

.navbar {
  border-radius: 0px;
}
